*{
  box-sizing: border-box;
}

#container{
  padding: 20px;
  max-width: 920px;
  margin: 0 auto;
}

.topics h4{
  margin-top: 0;
}

hr {
  margin: 5px 0px;
  border-color: #aaa;
}

hr.mini{
  border-color: #ccc;
  width: 25%;
  margin-left: -15px;
}

ul {
  padding-left: 20px;
}

a {
  color: #3498db;
  transition: all .05s;
}

a:hover{
  color: #9b59b6;
}

.resources li{
  font-size: 12px;
}

.resources li{
  list-style: circle;
}
